header {
    font-family: 'Work Sans', sans-serif;
    position: fixed;
    width: -webkit-fill-available;
    display: flex;
    transition: all 0.5s;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $mobile) {
        padding: 20px 40px;
    }
    padding: 20px;
    /* LOGO */
    .left {
        display: flex;
        flex-direction:row ;
        align-items: center;
        img {
            width: 60px;
            margin-right: 10px;
        }
        a {
            font-size: 20px;
            font-weight: 300;
            text-decoration: none;
            letter-spacing: 2px;
            color: white;
        }
    }
    .right {
        img {
           display: none;
        }
        button {
            font-size: 14px;
            i {
                margin-left: 8px;
            }
        }
    }

    &.navbar {
        z-index: 2;
        background-color: white;
        box-shadow: 1px 1px 5px 1px #0000005c;
        a, p {
            color: black !important;
        }
        button {
            background-color: black;
            color: white;
        }
        .right {
            position: relative;
            img {
                display: block;
                transition: right 0.3s;
                transform: rotateY(-180deg);
                right: -264px;
                z-index: -1;
                top: -62px;
                width: 235px;
                position: absolute;
            }
            &:hover {
                img {
                    transition: right 0.3s;
                    right: -154px;
                }
            }
        }
    }
}

/* MENU */
.overlay {
    font-family: 'Work Sans', sans-serif;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000000c7;
    z-index: 4;
    .panel {
        transition: 0.5s all;

        position: absolute;
        left: -400px;
        width: 400px;
        height: 100%;
        background-color: white;
        &.on-screen {
            transition: 0.5s left;
            left: 0;
        }

        .header {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            border-bottom: 1px solid #8080806b;
            > div {
                display: flex;
                align-items: center;
                img {
                    width: 60px;
                    margin-right: 10px;
                }
                h1 {
                    font-weight: 400;
                }
            }
            > i {
                font-size: 32px;
                cursor: pointer;
            }
        }
        .list {
            font-family: 'Staatliches', cursive;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            a:first-of-type {
                margin-top: 20px;
            }
            a {
                width: fit-content;
                padding: 10px 20px;
                margin-bottom: 8px;
                font-size: 25px;
                text-transform: uppercase;
                color: $green-theme;
                font-weight: 600;
                transition: 0.3s margin-left, background-color, color;
                &:hover, &.active {
                    transition: 0.3s margin-left, background-color, color;
                    margin-left: 20px;
                    background-color: $green-theme;
                    color: white;
                }
            }
        }
        .auth {
            font-family: "Staatliches", cursive;
            border-top: 1px solid #80808052;
            pointer-events: all;
            width: -webkit-fill-available;
            padding: 30px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            a, button {
                font-family: "Staatliches", cursive;
                padding: 0;
                color: $green-theme;
                font-size: 20px;
                i {
                    margin-left: 8px;
                }
                &:hover {
                    color: black;
                }
            }
        }
    }
}

