#home {
    .main {
        font-family: 'Work Sans', sans-serif;
        @media (min-width: $mobile) {
            height: 800px;
        }
        background: $green-theme;
        @media(min-width: $mobile) {
            display: flex;
            align-items: center;
        }
        .left {
            @media (max-width: $mobile) {
                padding-top: 103px;
                margin: 0 20px;
                width: fit-content;
                min-width: auto;
                max-width: none;
            }
            z-index: 1;
            margin-left: 10%;
            width: 100%;
            min-width: 450px;
            max-width: 550px;
            h1 {
                font-size: 89px;
                line-height: 76px;
                color: white;
                margin-bottom: 10px;
            }
            h3 {
                color: #333333;
                font-size: 28px;
                font-weight: 400;
                display: flex;
                margin-bottom: 10px;
                span {
                    margin-left: 10px;
                    line-height: 70px;
                    font-size: 68px;
                }
            }
            p {
                color: white;
                font-weight: 300;
                font-size: 15px;
            }
            div {
                margin-top: 30px;
                @media (max-width: $mobile) {
                    display: flex;
                    justify-content: center;
                }
                button:first-of-type {
                    margin-right: 10px;
                }
                .circuit button {
                    background: none;
                    border: 2px solid white;
                    padding: 8px 28px 8px 28px;
                    color: white;
                }
            }
        }
        .right {
            @media(min-width: $mobile) {
                position: absolute;
                right: 0;
                z-index: 0;
                width: 60%;
            }
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .presta {
        display: grid;
        position: relative;
        width: 80%;
        margin: 0 auto;
        top: -20px;
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $small) {
            grid-template-columns: repeat(1, 1fr);
        }
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .presta-block {
            font-family: 'Work Sans', sans-serif;
            box-shadow: 0px 0px 6px 1px #bbbbbb;
            margin: 0 auto;
            width: 100%;
            background-color: white;
            i {
                margin: 20px 0 0 20px;
                font-size: 40px;
                color: $green-theme;
            }
            h1 {
                color: black;
                margin-top: 10px;
                text-indent: 20px;
                font-style: italic;
                font-weight: 600;
                font-size: 22px;
            }
            p {
                margin: 20px;
            }
        }
    }
}
